language: node_js

cache:
  directories:
    - ~/.npm

notifications:
  email:
    on_success: never
    on_failure: always

node_js:
  - '10'

script:
  - yarn build

deploy:
  provider: pages
  skip-cleanup: true
  keep-history: true
  github-token: $GITHUB_TOKEN
  local-dir: public
  target-branch: gh-pages
  on:
    branch: master
